.bg {
  position: relative;
  background-image: url("#");
  background-repeat: no-repeat;
  background-size: cover;
}
body {
    font-family: 'Bungee', cursive;
    padding: 0px;
    margin: 0px;
    background-image: url("images/quangthuong/thuong-2.webp");
    background-repeat: no-repeat;
    background-size: auto;
}
input {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(198, 198, 200, 0.1);
    color :white;
    border:0px solid rgba(198, 198, 200, 0.1);
}
.input {
    color: white;
}
.input-btn{
    background-color: rgba(127, 165, 255, 0.244);
    color: black;
}
.input:focus {
    border : 0px none;
    border-color: wheat;
}
.field {
    position: fixed;
    display: inline-flexbox;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    text-align: center;
    top: 25%;
}
.container-fluid {
    padding: 0px;
}
.field-title {
 color : white;
}
::placeholder {
    color: white;
}
/* Nguyễn Quang Thượng */
.offcanvas-body {
    /* background: url(./images/bg-thang-thuong.jpg); */
    
}
.offcanvas-start {
    width: 100%;
}
.offcanvas{
 background-color: rgba(240, 248, 255, 0.763);
}
.letter {
    width: full-width;
    height: fit-content;
    background: repeating-linear-gradient(
        180deg,
        black,
        black 20px,
        yellow 20px,
        yellow 40px
    );
}